_target_: gem.method.BaseTransformPipeline
transforms:
  - _target_: gem.method.FillNaNTransform
    value: 0.0
    method: constant
  - _target_: gem.method.WinsorizeTransform
    target: X
    lower: 0.01
    upper: 0.99
    per_date: true
  - _target_: gem.method.StandardizeTransform
    target: both
    eps: 1e-8
    per_date: true
